body {
    font-family: Tahoma, sans-serif;
}

header {
    position: sticky; top: 0;
    z-index: 1;
}
#bg-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 50%, transparent 100%);
    user-select: none;
    pointer-events: none;
    filter: grayscale(0.8);
    aspect-ratio: 16/9;
}

#pao-palace {
    display: none;
}
.palace-loci {
    display: none;
}
#palace {
    display:none;
}
.palace-image {
    width: 300px;
    height:200px;
}
#palace-table {
    height:auto;
    margin: auto auto;
}
#palace-table th, td {
    padding: 10px;
    text-align: center;
    width: 33%;
}
.palace-label {
    font-weight: bold;
    margin:5px;
}

.palace-phrase {

}
.palace-items {
    text-align: center;
}

.palace-item {

}
#quiz-button-group {

}

#panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    padding: 5px;
}

#panel-title {
    font-size: 20pt;
    color:white;
}
#panel-left {
    width: 33%;
}

#panel-center {
    width: 33%;
    text-align: center;
}

#panel-left {
    width: 33%;
}

#card-counter-content {
    font-weight: bold;
    font-size: 14pt;
}

#card-counter {
}

#pao-matrix {
    display: none;
}

#pao-quiz {
    display: none;
}

#quiz {
    display: none;
    margin: auto auto;
}

#quiz-front {
    height: auto;
    margin: auto auto;
}

#quiz-image {
    width:224px;
    height:284px;
    margin: 5px;
}

.quiz-select-div {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.quiz-label {
    width:100px;
}

.quiz-select {

}

.quiz-check {
    margin: 5px;
}

#quiz-content {
    display:flex;
    flex-direction: row;
    width:100%;
    margin:10px;
}

#quiz-left {
    width:33%;
    margin:5px;
}

#quiz-center {
    text-align: center;
    width:33%;
    display:flex;
    flex-direction: column;
}

#quiz-right {
    width:33%;
}

#quiz-select-person {
    margin: 5px;
}

#quiz-select-action {
    margin: 5px;
}

#quiz-select-object {
    margin: 5px;
}

#quiz-select-card {
    margin: 5px;
}

.quiz-select-neutral {
    background-color: white;
    color:black;
}
.quiz-select-wrong {
    background-color: red;
    color: white;
}

.quiz-select-correct {
    background-color: green;
    color: white;
}


#pao-instructions {
    display: none;
    margin: 10px;
}

.card {
    width:80px;
    display: inline;
    margin: 5px;
}
.suit-column {
    width: 40px;
}

.suit-column-red {
    color: red;
    font-size: 40pt;
    background-color: white;
    width: 40px;
    border: 1px solid black;
    text-align: center;
}

.suit-column-black {
    color: black;
    font-size: 40pt;
    background-color: white;
    width: 40px;
    border: 1px solid black;
    text-align: center;
}

.info-column {
    text-align: center;
    display: block;
    margin: auto auto;
}

#pao-types {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 9pt;
}
.pao-type-column {
    width:224px;
    text-align: center;
    border-left: white 1px solid;
    border-top: white 1px solid;
    border-right: white 1px solid;
}
#pao-header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 9pt;
}

.pao-header-column {
    width:112px;
    text-align: center;
    border-left: white 1px solid;
    border-top: white 1px solid;
    border-right: white 1px solid;
}

#pao-rows {

}

.pao-row {
    color:white;
    display:flex;
    flex-direction: row;
    border: black 1px solid;
    width:100%;
}

#pao-rows div:nth-child(even) {background: black}
#pao-rows div:nth-child(odd) {background: red}

.pao-column {
    display:flex;
    flex-direction: column;
    color:white;
    font-size: 9pt;
    text-align: center;
    width:112px;
    white-space: nowrap;
}
.pao-column span {
    border: white 1px solid;
}

.pao-person {

}

.pao-image {
    width:112px;
    height:142px;
}

.pao-action {

}

.pao-object {

}


