.pao-row {
    border: black 1px solid;
    width:1000px;
    height:20px;
    color:red;
}

.pao-column {
    display:inline;
    border: black 1px solid;
    width:100px;
    height:20px;
    color:blue;
}